.App {
	/* position: absolute; */
	overflow-y: hidden;
	max-height: 100vh;
	/* min-width: 100vw; */
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: 100vh;
}

.side-bar {
	max-width: 15vw;
	min-width: 200px;
	padding: 15px;
	background-color: #f8f8f8;
}

.app-section {
	width: 85vw;
	/* min-width: 450px; */
	padding: 15px;
	height: 100%;
}

.welcome {
	margin: auto;
	width: 50%;
}

.message-section {
	height: 80vh;
}

.message-form {
	margin-top: 10px;
	margin-bottom: 10px;
}

.messages {
	height: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: column-reverse;
}
