.App {
	/* position: absolute; */
	overflow: hidden;
	height: 100vh;
	/* min-width: 100vw; */
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.contact-card {
	display: flex;
	justify-content: space-between;
}

.contacts {
	padding-top: 35px;
}

.main-reduced {
	margin-right: 20%;
}

.accept-btn {
	padding: 5px 20px;
}

.accept-btn:hover {
	background-color: #0ea7ac;
	box-shadow: 0;
}

.btn-primary {
	background-color: #14bdc3;
	border: 0;
}

.btn-primary:hover {
	background-color: #0ea7ac;
	border: 0;
	box-shadow: 0;
}

.btn-primary:active {
	background-color: #0ea7ac;
	border: 0;
	box-shadow: 0;
}

.btn-secondary {
	border: 0;
	background-color: white;
	color: black;
}

.btn-secondary:hover {
	border: 0;
	background-color: #f3f3f3;
	color: black;
}

.btn-secondary:active {
	border: 0;
	background-color: #f3f3f3;
	color: black;
}

/* .contact-btns {
	float: right;
} */

.icon {
	vertical-align: inherit;
}

.home {
	height: 100vh;
	position: relative;
}

.login-reg {
	max-width: 450px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 20px;
}

.login-btn {
	margin: 0 auto;
	padding: 10px 40px;
	border: 0;
	background-color: black;
}

.center-vertical {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: 100vh;
}

.side-bar {
	max-width: 15vw;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #f5f5f5;
}

.nav-head {
	max-width: 15vw;
	min-width: 200px;
	width: 100%;
}

.nav {
	border-bottom: 1px solid #f5f5f5;
	height: 50px;
	padding: 4px;
}

a:hover {
	text-decoration: none;
	color: #0ea7ac;
}

a {
	color: black;
}

.scroll {
	max-height: 90vh;
	overflow-y: scroll;
}

.app-section {
	width: 85vw;
	/* min-width: 450px; */
	padding: 0px 60px;
	height: 90vh;
	max-height: 100;
}

.welcome {
	margin: auto;
	width: 50%;
}

.chat {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.message-section {
	height: 90%;
	width: 100%;
}

.message-form {
	padding-top: 10px;
	height: 60px;
	width: 100%;
}

.messages {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column-reverse;
}

.chat-card {
	min-width: 100%;
	padding: 15px;
}

.chat-card:hover {
	background-color: #f5f5f5;
}

.chat-card-active {
	background-color: #f5f5f5;
	min-width: 100%;
	padding: 15px;
}

.new-chat-btn {
	display: flex;
	justify-content: space-between;
	padding: 6px 20px;
	margin: 5px;
}

#nav-dropdown:active {
	background-color: #0ea7ac;
	border: 0;
	box-shadow: 0;
}

.menu-top {
	padding: 10px;
}
.message-card {
	line-height: 1.2em;
	color: #474747;
}

.message-time {
	display: none;
}
.message-card:hover .message-time {
	display: inline;
}

.chat-nav {
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
}

.accept-chat-content {
	background: rgba(255, 255, 255, 0.5);
	width: 80vw;
	height: 100%;
	position: fixed;
	z-index: 2;
	text-align: center;
	margin-top: 15%;
}
