.App {
	position: absolute;
	overflow: hidden;
	max-height: 100vh;
	min-width: 100vw;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.side-bar {
	width: 15vw;
	height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f8f8f8;
	float: left;
}

.chats {
	width: 85vw;
	float: right;
}

.message-area {
	/* position: relative; */
	max-height: 80vh;
	min-height: 80vh;
	overflow: scroll;
	display: flex;
	flex-direction: column-reverse;
	padding: 10px;
}
